@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800;
    @apply text-white;
  }
}

@layer components {
  .background-btn-form {
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  }
  .background-btn-form:hover {
    background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
  }
  .background-img-form {
    background-image: url('https://community.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg');
  }
  .programmer-card {
    transform-style: preserve-3d;
  }
}